* {
    margin: 0;
    padding: 0;
}
html, body{
    width: 100%;
}
body{
    background: #030303e0;
}
header{
    margin: 5% auto;
    width: 90%;
}
h1{
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color:#ffffff;
	text-shadow: 0 0 1rem;
    letter-spacing: 0.2rem;
    font-weight: inherit;
}
main{
    margin-bottom: 5%;
}
.slider{
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    margin: 5% auto;
}
.slider input[name="slide"]{
     display: none; 
}
.switch{
    width: 100%;
    height: 100px;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#btn1:checked ~ .switch .label-cheker label[for="btn1"]{
    border-color: #348ec6;
    background: none;
}
#btn1:checked ~ .switch .label-cheker label[for="btn1"]:hover,
#btn2:checked ~ .switch .label-cheker label[for="btn2"]:hover,
#btn3:checked ~ .switch .label-cheker label[for="btn3"]:hover,
#btn4:checked ~ .switch .label-cheker label[for="btn4"]:hover{
    border-color: white;
}
#btn2:checked ~ .switch .label-cheker label[for="btn2"]{
    border-color: #348ec6;
    background: none;
} 
#btn3:checked ~ .switch .label-cheker label[for="btn3"]{
    border-color: #348ec6;
    background: none;
}
#btn4:checked ~ .switch .label-cheker label[for="btn4"]{
    border-color: #348ec6;
    background: none;
}  

.slider-container{
    overflow: hidden;   
    border-radius: 1.5rem;
}
.slides, .text-under-img{
    width: 400%;
    transition: all .55s;
} 
.slides > img{
    width: 25%;
    height: 850px;
    float: left;
} 
#btn1:checked ~ .slider-container .slides{
    transform: translate(0);
}  
#btn2:checked ~ .slider-container .slides{
    transform: translate(-25%);
}
#btn3:checked ~ .slider-container .slides{
    transform: translate(-50%);
}
#btn4:checked ~ .slider-container .slides{
    transform: translate(-75%);
}
.wrapper{
    overflow: hidden;
}
.text-under-img > div{
    color: white;
    font-size: 2rem;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 0.3rem;
    width: 25%;
    float: left;
}
#btn1:checked ~ .switch .wrapper .text-under-img{
    transform: translate(0);
}  
#btn2:checked ~ .switch .wrapper .text-under-img{
    transform: translate(-25%);
}
#btn3:checked ~ .switch .wrapper .text-under-img{
    transform: translate(-50%);
}
#btn4:checked ~ .switch .wrapper .text-under-img{
    transform: translate(-75%);
}
.label-cheker{
    width: 30%;
    display: flex;
    justify-content: end;
}
.label-cheker > label{
    display: inline-block;
    cursor: pointer;
    margin: 0 1rem;
    width: 20px;
    height: 20px;
    border: 0.1rem solid #348ec6;
    background: #348ec6;
    border-radius: 50%;
}
.label-cheker > label:hover{
    border-color: white;
    background: white;
}
footer{
    width: 90%;
	display: flex;
	justify-content: end;
	margin: 0 auto;
    padding: 0 3% 2% 0;
	height: 2.5em;
	align-items: center;
}
.footerLink{
	color:#ffffff;
	font-size: xx-small;
	font-family: Roboto;
	text-shadow: 0 0 1rem;
    letter-spacing: 0.02rem;
}
.footerLink a{
	color:#ffffff;
	font-weight: 700;
	font-family: Roboto;
	text-shadow: 0 0 1rem;
	font-size: 1rem;
    text-decoration: none;
}
.footerLink > i{
	font-size: 1rem;
	color:#ffffff;
	text-shadow: 0 0 1rem;
}

@media screen and (max-width: 768px){
.switch{
    flex-direction: column-reverse;
    margin-top: 10%;
    height: 145px;
}
.wrapper{
    margin-top: 4%;
    text-align: center;
}
.slides > img{
    height: 645px;
}
.text-under-img > div{
    font-size: 1.3rem;
}
.label-cheker{
    justify-content: center;
    margin-top: 0;
}
}
@media screen and (max-width: 635px){
.slides > img{
    height: 445px;
}
.switch{
	height: 200px;
}
.label-cheker{
	width: 100%;
}
h1{
    font-size: 1.5rem;
}
}
@media screen and (max-width: 510px){
h1{
    font-size: 1rem;
}
}